*,
*::after,
*::before {
  box-sizing: border-box;
}
img, video {
    max-width: 100%;
}
body {
    overflow-x: hidden;
}
@import "tailwindcss";

@theme {
  --color-secondary: #7df9ff;
  --color-primary: #121212;
}

.signup > form>input {
  width: 500px;
  display: grid;
  outline: 1px solid #000;
  padding: 0.5rem;
  border-radius: 8px;
}
